.rmdb-header {
  width: 100%;
  height: auto;
  background: #020b0f;
  padding: 0 20px;
  box-sizing: border-box;
}

.rmdb-header-content {
  max-width: 1280px;
  min-height: 120px;
  height: auto;
  padding: 2px 0px;
  margin: 0 auto;
  box-sizing: border-box;
  overflow: hidden;
}

.rmdb-logo {
  width: 140px;
  float: left;
}

.rmdb-tmdb-logo {
  width: 70px;
  margin-top: 25px;
  float: right;
}

.rmdb-tmdb-title {
  width: 350px;
  margin-top: 35px;
  margin-left: 350px;
  float: center;
}

@media screen and (max-width: 500px) {
  .rmdb-header-content {
    max-width: 1280px;
    min-height: 0px;
  }

  .rmdb-tmdb-logo {
    display: inline-block;
    width:80px;
    margin-top: 0px;
  }

  .rmdb-logo {
    width: 150px;
    margin-top: 5px;
  }
}